
<table class="standard-table">
					<thead>
						<tr>
							<th class="th_object">Object</th>
							<th class="th_body">Emails</th>
						</tr>
					</thead>
					<tbody>
          <% @emails.each do |email| %>
						<tr class="table_row">

							<td class="cobject"> 
							<%= email.object %></td>


							<td class="cbody"> 
								<h4><center><%= email.object %></center></h4>
								<br> 
								<%= email.body %>
								<br> 
								<%= link_to "Supprimer", email, method: :delete, data: {confirm: 'Are you sure?'}, remote: true %>
							
							</td>
						</tr>
          <% end %>
					</tbody>
				</table>

