
<table class="standard-table">
					<thead>
						<tr>
							<th class="th_object">Object</th>
							<th class="th_body">Emails</th>
						</tr>
					</thead>
					<tbody>
          <% @emails.each do |email| %>
						<tr class="table">

							<td class="cobject"> 
							<%= email.object %></td>


							<td class="cbody"> 
								<%= email.object %> <br> <%= email.body %>
								<br> 
								<%= link_to 'delete', method: :delete, id: email.id %>
							
							</td>
						</tr>
          <% end %>
					</tbody>
				</table>

